body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

.card {
  background-color: #e0e6ed;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.card h2 {
  text-align: center;
  color: #333;
  margin-top: 0;
}
.option-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.option, .input {
  width: 50px;
  height: 50px;
  background-color: #c0d4e2;
  border: none;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #333;
  font-weight: bold;
}

.option:hover, .input:hover {
  background-color: #a9bdd0;
}

.option:active, .input:active {
  background-color: #8e9fb0;
}

.option:empty::before, .input:empty::before {
  content: " ";
}

.input-row {
  display: flex;
  justify-content: center;
}
#check-button {
  margin-top: 20px;
  background-color: #4287f5;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#check-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#reset-button {
  margin-top: 20px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.correct-page, .wrong-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.correct-page h1, .wrong-page h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.correct-page p, .wrong-page p {
  font-size: 24px;
  color: #555;
  margin-bottom: 40px;
}

.correct-page .play-again-button {
  background-color: #4CAF50; /* Green */
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.wrong-page .try-again-button {
  background-color: #FF0000; /* Red */
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.correct-page .play-again-button:hover,
.wrong-page .try-again-button:hover {
  background-color: #366ec6;
}

.correct-page .play-again-button:active,
.wrong-page .try-again-button:active {
  background-color: #2851a9;
}


#input-container {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
